@charset "UTF-8";

    .box {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .box div {
        width: 300px;
        height: 300px;
        background: blue;
    }

    .box02 {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box02 div {
        width: 33%;
        height: 300px;
        margin-bottom: 20px;
        background: red;
    }

    
    .nav__list {
        color: #4e4e4e;
        max-width: 960px;
        padding: 5px;
        display: flex;
        justify-content: flex-end;
    }

    .nav__item {
        padding: 10px 20px;
        border-left: 1px solid #4e4e4e;
    }

    .nav__item:first-child {
        border: none;
    }

    .nav__item01 {
        font-weight: bold;
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 767px) {
        .header__inner {
            flex-direction: column;
            padding: 0 20px;
        }
        .nav__item {
            padding: 10px 0;
            border-left: none;
            border-bottom: 1px solid #4e4e4e;
        }
        .nav__item:first-child {
            border-bottom: 1px solid #4e4e4e;
        }
        .nav__list {
            flex-direction: column;
        }
    }

